*{
font-family:Garamond;
}
table{
  border-spacing: 0;
}
tr:nth-child(odd){ 
  background-color:#efefef; 
  border: 1px solid #cccccc;
}
th{
  width: 135px;
  border: 1.5px solid #cccccc;
}
td{
  border: 1px solid #cccccc;
  text-align: center;
}
td.best{
  background-color:#2EFE9A;
}
td.top{
  background-color:#2EFE9A;
}
td.low{
  background-color:#FF4000;
}

