*{
font-family:Garamond;
}
table{
  width: 100;
  min-width: 30%;
  max-width: 1000%x;
  margin-bottom: 20px;
  border-spacing: 0;
  border: 1px solid #cccccc;
}
tr:nth-child(odd){ 
  background-color:#efefef; 
  border: 1px solid #cccccc;
}
th{
  width: 135px;
  border: 1px solid black;
}
td{
  border: 1px solid #cccccc;
  text-align: center;
}
